<ion-menu contentId="main-content" side="start" menuId="first">
  <ion-header>
    <ion-toolbar>
      <ion-title>Log de Notificações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let notification of notifications">
        {{ notification }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>Demo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Esse ion-content é o conteúdo principal que será controlado pelo menu -->
<ion-content id="main-content">
  <div id="map" style="width: 100%; height: 100%"></div>
  <ion-button id="botao_bater_ponto" style="width:100%;height:20%;display:none" (click)="onClickBaterPonto()">
    BATER PONTO
  </ion-button>
</ion-content>
