<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>POC: FaceAPI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Reconhecimento Facial</h1>
  <p>Agora estamos com tudo pronto.</p>
  <p>Envie uma foto para que possamos reconhecer quem está presente.</p>
  <img id="inputImageOriginal" style="display: none;"/>
  <div class="container">
    <canvas id="canvas"></canvas>
    <img id="inputImage"/>
  </div>
  <ion-button expand="full" (click)="handleUpload()">Enviar Foto</ion-button>
  <ion-button expand="full" color="light" (click)="reset()">Voltar ao início</ion-button>
</ion-content>
