<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>POC: FaceAPI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Faces Detectadas</h1>
  <p>As faces detectadas na foto estão listadas abaixo. Por favor, identifique cada uma delas.</p>
  <ion-list>
    <ion-item *ngFor="let face of faces">
      <img [src]="face.image.src" alt="Face" class="image" />
      <ion-input placeholder="Nome" [(ngModel)]="names[face.face_id]"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list id="facesContainer1">

  </ion-list>
  <ion-button expand="full" (click)="handleSave()">Salvar Identificações</ion-button>
</ion-content>
